{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/register.css') }}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    <h2>Inscrivez-vous!</h2>
    <div id="prog">
        <div id="ProgressionBar">
            <div class="hoho" id="haha0"></div>
            <div class="hoho" id="haha1"></div>
            <div class="hoho" id="haha2"></div>
            <div class="hoho" id="haha3"></div>
            <div class="hoho" id="haha4"></div>
            <div class="hoho" id="haha5"></div>
            <div class="hoho" id="haha6"></div>
            <div class="hoho" id="haha7"></div>
            <div class="hoho" id="haha8"></div>
            <div class="hoho" id="haha9"></div>
            <div class="hoho" id="haha10"></div>
            <div class="hoho" id="haha11"></div>
            <div class="hoho" id="haha12"></div>
            <div class="hoho" id="haha13"></div>
            <div class="hoho" id="haha14"></div>
            <div class="hoho" id="haha15"></div>
        </div>
        <div id="ui"></div>
    </div>
    <form class="text-center">
        <div class="form-group text-center" id="Name">
            <label for="Name">Nom</label>
            <input type="input" class="form-control" required>
        </div>
        <button type="button" class="btn btn-secondary col-md-6" id="NameBtn">Passer à la suite</button>
        <div class="form-group text-center" id="Lastname">
            <label for="Lastname">Prénom</label>
            <input type="input" class="form-control" required>
        </div>
        <button type="button" class="btn btn-secondary" id="LastnameBtn">Passer à la suite</button>
        <div class="form-group text-center" id="Email">
            <label for="Email">Adresse email</label>
            <input type="email" class="form-control" required>
        </div>
        <button type="button" class="btn btn-secondary" id="EmailBtn">Passer à la suite</button>
        <div class="form-group text-center" id="Birthdate">
            <label for="Birthdate">Date de naissance</label>
            <select class="form-control birthdateSelect">
                {% for i in 1..9 %}
                <option>{{i}}</option>
                {% endfor %}
            </select>
            <select class="form-control birthdateSelect">
                {% for i in 1..9 %}
                <option>{{i}}</option>
                {% endfor %}
            </select>
            <select class="form-control birthdateSelect monthSelect">
                <option>Janvier</option>
                <option>Février</option>
                <option>Mars</option>
                <option>Avril</option>
                <option>Mai</option>
                <option>Juin</option>
                <option>Juillet</option>
                <option>Août</option>
                <option>Semptembre</option>
                <option>Octobre</option>
                <option>Novembre</option>
                <option>Décembre</option>
            </select>
            <select class="form-control birthdateSelect">
                {% for i in 1..9 %}
                <option>{{i}}</option>
                {% endfor %}
            </select>
            <select class="form-control birthdateSelect">
                {% for i in 1..9 %}
                <option>{{i}}</option>
                {% endfor %}
            </select>
            <select class="form-control birthdateSelect">
                {% for i in 1..9 %}
                <option>{{i}}</option>
                {% endfor %}
            </select>
            <select class="form-control birthdateSelect">
                {% for i in 1..9 %}
                <option>{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="button" class="btn btn-secondary" id="BirthdateBtn">Passer à la suite</button>
        <div class="form-group text-center" id="Phone">
            <label for="Phone">Numéro de téléphone</label>
            <input type="input" class="form-control" value="0000000000" id="phone" readonly>
            <input type="range" min="0" max="999999999" class="form-control-range" id="formControlRange">
        </div>
        <button type="button" class="btn btn-secondary" id="PhoneBtn">Passer à la suite</button>
        <div class="form-group text-center" id="Address">
            <label for="Address">Adresse</label>
            <input type="input" class="form-control" required>
        </div>
        <button type="button" class="btn btn-secondary" id="AddressBtn">Passer à la suite</button>
        <div class="form-group text-center" id="Color">
            <label for="Color">Couleur préférée</label>
            <img src="assets/images/color.gif" alt="Color Picker" width=150 id="ColorImg"  style="cursor: url({{ asset('assets/images/colorPicker.svg') }}), auto;">
            <input type="input" class="form-control colorValue" value="R: ___" id="r" required readonly>
            <input type="input" class="form-control colorValue" value="G: ___" id="g" required readonly>
            <input type="input" class="form-control colorValue" value="B: ___" id="b" required readonly>
            <div id="colorPrev"></div>
        </div>
        <button type="button" class="btn btn-secondary" id="ColorBtn">Passer à la suite</button>
        <div class="form-group text-center" id="Qi">
            <label for="Qi">Estimez votre QI</label>
            <input type="input" class="form-control" required>
        </div>
        <button type="button" class="btn btn-secondary" id="QiBtn">Passer à la suite</button>
        <div class="form-group text-center" id="Lavabo">
            <label for="Lavabo">Il est beau le </label>
            <input type="input" class="form-control" pattern="lavabo" required>
        </div>
        <button type="button" class="btn btn-secondary" id="LavaboBtn">Passer à la suite</button>
        <div class="form-group text-center" id="Password">
            <label for="Password">Mot de passe</label>
            <input type="password" class="form-control" required>
        </div>
        <button type="button" class="btn btn-secondary" id="PasswordBtn">Passer à la suite</button>
        <div class="form-group text-center" id="Siege">
            <label for="Siege">Quel est le meilleur engin de siège?</label>
            <input type="input" class="form-control" required>
        </div>
        <a class="btn btn-secondary" id="SubmitBtn" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=PLahKLy8pQdCM0SiXNn3EfGIXX19QGzUG3">Submit</a>
    </form>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/register.js') }}"></script>
{% endblock %}